@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@700&display=swap');

* {
    position: relative;
    box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.book {
    background: #fff;
    color: #000;
    border: 1px solid #333;
    padding: 1rem;
    width: 20rem;
    height: 30rem;
    box-shadow: 1rem 1rem 1.4rem 0 #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Anton;
    border-radius: .5rem;
}

.book .info {
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.book .title {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 6rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #fff;
}
.book .isbn {
    font-size: 10px;
    font-weight: 400;
}
.book .name {
    font-size: 30px;
    color: #fff;
}
.book .name {
    font-size: 30px;
    color: #fff;
    margin-top: 2rem;
}

.book-red { background: #ce3737; }
.book-blue { background: #6363ff; }
.book-orange { background: #f7823e; }

a {
    color: #fff;
    border: 1px dashed #333;
    padding: .4rem 1rem;
    margin: .4rem;
}

a:hover {
    background: #111;
}
